/* This is Global Menu Hamburger Icon Styling*/


.wrapper{
    position:fixed;
    top:4.5%;
    left: 5.8%;
    z-index: 1;
  }
  
  .wrapper .toggler{
  
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
    opacity: 0;
    width: 30px;
   height: 30px;
   cursor: pointer;
  }
  
  .wrapper .hamburger{
    position:absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
    width: 45px;
    height: 45px;
    background:#2471A3 ;
    box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.6);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  
  }
  
  .wrapper .hamburger > div {
  
    position: relative;
    width: 100%;
    height: 2px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
  
  }
  
  .wrapper .hamburger > div:before,
  .wrapper .hamburger > div:after{
  
    content: '';
    position: absolute;
    top: -10px;
    background: white;
    width: 80%;
    height: 2px;
  
  }
  
  .wrapper .hamburger > div:after{
    top: 10px;
    width: 80%;
  }
  
  /* Humberger animation */
  
  .wrapper .toggler:checked + .hamburger > div{
    transform: rotate(-140deg);
    
  }
  
  /* Humberger X animation */
  
  .wrapper .toggler:checked + .hamburger > div:before,.wrapper .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(-90deg);
    width: 100%;
  }
  
  
  .wrapper .toggler:checked:hover + .hamburger > div
  {
    transform: rotate(45deg);
  }

  
  
  /* humberger Menu Icon Design Building */
  
  .wrapper .menu{

    
    /* Positioning, boarder and visibility */
    position:fixed;
    top: 5%;
    left: 80px;
    width: 60%;
    height: 40px;
    display: flex;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    visibility: hidden;
    box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.6);
    /*transition: 1s ease;   */
  
  }

   /* Social */

  .wrapper .social{

      text-align:center;
      background: #ecedee;   
      border-radius: 8px;
      display: none;
      position: fixed;
      top: 5%;
      width: 40px;
      height: 40%;
      display: block;
      padding-top: 30px;   
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      overflow: hidden;
      visibility: hidden;
      box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.6);
  }

  .wrapper i{

    color: #293b83;
    padding: 20px 10px;
    font-size: 18px;
    cursor: pointer;
  
  }
  
   /* humberger Menu Icon list designing */
  
  .wrapper .menu  > ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ecedee;
    transition: 1s ease;
    transform: scaleX(0);
    transform-origin: 0% 100%;
    
   
  }

   
  .wrapper .menu  > ul >li > a{
     /* Font Styling */
     font-family: 'Ibarra Real Nova', serif;
     font-size: 0.8rem;
     font-weight: 400;
     text-transform: uppercase; 
     color:#293b83;
     text-decoration: none;
  }


  /* Social */

  .wrapper .social {

    animation: shimmy 0.5s infinite;
    animation-direction: alternate;
    
  }

  @keyframes shimmy {
    0% {
      transform: translate(0, 4px);    
    }
    100% {
      transform: translate(0, 6px);
    }
  }

  .wrapper .social i:hover{

    transform: scaleX(1.2);
  }



 
  
  
  /* humberger changes on click Animation */
  
  .wrapper .toggler:checked ~ .menu {
    visibility: visible;
 
  }

  .wrapper .toggler:checked ~ .menu  > ul{
  
    transform: scaleX(1);
   /* transform-origin: 0% 100%;*/
   
  
  }

  /* Social */
  .wrapper .toggler:checked ~ .social {
    visibility: visible;
 
  }

  
 

  
  
  /* This is Responsive Breakpoints for Small Devices*/
  /* Small devices (tablets, 768px and up) */

  @media (max-width: 768px) { 
  
    .wrapper .toggler:checked ~ .menu > ul{
  
      width: 100%;
  
    }
  
    .wrapper .menu{
      position: fixed;
      top:4;
      left:50px;
      width: 100%;
      height: 40px;
      display: flex;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      overflow: hidden;
      visibility: hidden;
      transition: all .5s ease;  
    
    }

    .wrapper .social{
      text-align:center;
      background: #ecedee;   
      border-radius: 8px;
      display: none;
      position: fixed;
      top: 4;
      width: 40px;
      height: 30%;
      display: block;
      padding-top: 30px;   
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      overflow: hidden;
      visibility: hidden;
      box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.6);
  }

    
    .wrapper{
      position: fixed;
      top:4;
      left:1;
      z-index: 1;
      margin: 0px;
    }
  
   }
  